<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>it's good to be cooked again</h1>

	<p>I like {{variety}} potatoes</p>
	<p>You should cook these at {{temperature}} degrees</p>
	<form action="survey">
		What kind of potato do you like? 
		<select name="answer">
			<option>Russet</option>
			<option>Sweet</option>
			<option>Golden</option>
			<option>None< (I'm on the keto diet)</option>
		</select>
		<button>Submit your answer</button>

	</form>
</body>
</html>